@charset "UTF-8";    /* 把样式表的编码设置为统一码 UTF-8 */

@font-face {    /* 指定一种名为 "JetBrains Mono" 的字体，并规定可以找到它的 URL */
    font-family: 'JetBrains Mono';    /* 定义字体名称 */
    src: url('../fonts/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff');    /* 定义字体文件路径 */
}

* {    /* 针对所有的HTML元素定义样式 */
    margin: 0;    /* 外边距为0 */
    padding: 0;    /* 内边距为0 */
    box-sizing: border-box;    /* 盒子的宽度值和高度值包含元素的内边距和边框 */
}

/* <body> CSS Begin */
body {
    margin: 0 auto;    /* 页面自动居中对齐 */
    font-family: "JetBrains Mono";    /* 字体为"JetBrains Mono" */
    background: lightpink top center no-repeat border-box fixed url(../images/default.png);
        /*
            background 简写属性在一个声明中设置所有的背景属性。
            按照设置顺序，依次是：
                background-color 属性color_name 值；background-position 属性top center 值；background-repeat 属性no-repeat 值；
                background-origin 属性border-box 值；background-attachment 属性fixed 值；background-image 属性url('URL') 值。
            lightpink：背景颜色为lightpink；
            top center：背景图像顶端居中对齐；
            no-repeat：背景图像仅显示一次，不重复；
            border-box：背景图像相对于边框盒来定位；
            fixed：当页面的其余部分滚动时，背景图像不会移动；
            url(../images/default.png)：指向图像的路径
        */
    position: relative;    /* 相对定位 */
    min-height: 100vh;    /* 整个body会被撑开至屏幕高度一致。为了footer部分能自动置底。 */
}

a {    /* 设置超链接的样式，去除文本超链接下划线 */
    text-decoration: none;    /* 无修饰 */
}
/* <header> CSS Begin*/

/* <header> CSS End */
/* <body> CSS End */
